In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [3]:
# merge lateness files
roads = ['A61','A62','A64','A68']
concated = pd.DataFrame()
for i in roads:
    for j in roads:
        if i != j:
            gama_file = pd.read_csv("C:/Users/flavi/Travail/Switch-23/models/logs_file/lateness"+i+j+".csv")
            concated = pd.concat([concated,gama_file])

concated.to_csv("C:/Users/flavi/Travail/Switch-23/models/logs_file/allLateness.csv")

In [5]:
aim_road = pd.read_csv("C:/Users/flavi/Travail/Switch-23/AimSun_Data/aimRoadAverage.tsv",delimiter="/t")
print(aim_road)
switch_road = pd.read_csv("C:/Users/flavi/Travail/Switch-23/models/logs_file/Archives/Validations_world_data_14.03.2024/allLateness.csv")
print(switch_road)

        id Comptage Vitesse Retard    Débit RatioV/C   Temps Queue
0   989287   231,38   95,74    1,7  1387,46     0,22   97,69     0
1   989062   252,41   95,19   2,23  1513,04     0,24   88,06     0
2   989312   231,12   95,27   0,87  1386,58     0,17   38,19     0
3   989311   252,63   96,65   0,19  1515,71     0,18   19,45     0
4   989194   231,02   87,87  28,56  1384,13     0,22  181,63  3,12
5   989124   109,59   96,17   1,41   657,13      0,1    95,1     0
6   989202   132,06  107,99   1,45   791,67     0,13   83,07     0
7   989130   109,52   96,24   1,43   656,71     0,16   92,92     0
8   989121   132,17   96,41   1,34   792,33     0,19   99,37     0
9   989071   109,45   96,53   0,69   656,21     0,08   54,65     0
10  989127   132,22   97,32   0,21      793     0,09   45,06     0
11  989163    78,72   96,53   3,24      471     0,07   290,3     0
12  989076   101,89   96,37   3,82   609,25      0,1  299,57     0
13  989016   191,48   96,13   1,95  1147,63     0,18  132,55     0
14  989017   170,94   95,57   2,65  1024,58     0,16  134,26     0
        Unnamed: 0      ID            road's topo id  distance  \
0                0  500130  TRONROUT0000000073522126        23
1                1  500130  TRONROUT0000000073522354        17
2                2  500130  TRONROUT0000000073522085       107
3                3  500130  TRONROUT0000000073522280       342
4                4  500130  TRONROUT0000002223813415       260
...            ...     ...                       ...       ...
841959      108886  330160  TRONROUT0000000351087126       522
841960      108887  330160  TRONROUT0000000073509831        37
841961      108888  330230  TRONROUT0000000073481586       589
841962      108889  330270  TRONROUT0000000073480351       278
841963      108890  330230  TRONROUT0000000223313006        22

                 entry date  duration  mean speed  lateness start dest
0       2022-10-12 00:49:44       1.0          84         0   A61  A62
1       2022-10-12 00:49:45       1.0          60         0   A61  A62
2       2022-10-12 00:49:46       4.0          97         0   A61  A62
3       2022-10-12 00:49:50      10.0         123         0   A61  A62
4       2022-10-12 00:50:00       9.0         104         0   A61  A62
...                     ...       ...         ...       ...   ...  ...
841959  2022-10-13 00:59:34      20.0          94         0   A68  A64
841960  2022-10-13 00:59:54       2.0          67         0   A68  A64
841961  2022-10-13 00:59:36      22.0          96         0   A68  A64
841962  2022-10-13 00:59:47      11.0          91         0   A68  A64
841963  2022-10-13 00:59:58       1.0          78         0   A68  A64

[841964 rows x 10 columns]

In [5]:
switch_road = pd.read_csv("C:/Users/flavi/Travail/Switch-23/models/logs_file/lateness.csv")
switch_road

,VehicleID,TopoID,distance,entryDate,duration,meanSpead,lateness
0,'Car1211','TRONROUT0000000073476769',43,'2023-10-12 06:57:00',2.0,78,0
1,'Car1338','TRONROUT0000000073481885',256,'2023-10-12 06:57:00',8.0,115,0
2,'Car7403','TRONROUT0000000073509832',226,'2023-10-12 06:57:00',9.0,90,0
3,'Car10184','TRONROUT0000000329822605',314,'2023-10-12 06:57:00',10.0,113,0
4,'Car12465','TRONROUT0000000073494425',123,'2023-10-12 06:57:00',10.0,44,0
...,...,...,...,...,...,...,...
3354649,'Car7652','TRONROUT0000002223818064',447,'2023-10-12 23:11:14',16.0,101,0
3354650,'Car7652','TRONROUT0000000073476769',43,'2023-10-12 23:11:30',2.0,78,0
3354651,'Car7652','TRONROUT0000002223818056',356,'2023-10-12 23:11:32',13.0,99,0
3354652,'Car7652','TRONROUT0000000073476822',11,'2023-10-12 23:11:45',1.0,40,0
3354653,'Car7652','TRONROUT0000000073476828',170,'2023-10-12 23:11:46',6.0,102,0

In [54]:

trajet = switch_road.groupby(['ID']).agg({
                                    "distance": lambda x: sum(x),\
                                    "TopoId" : lambda x: list(np.unique(x)),\
                                    "duration": lambda x: sum(x)
})
trajet

,distance,TopoId,duration
ID,,,
ResidualVehicle0,15861,"[TRONROUT0000000073476547, TRONROUT00000000734...",649.0
ResidualVehicle1,15861,"[TRONROUT0000000073476547, TRONROUT00000000734...",649.0
ResidualVehicle10,12784,"[TRONROUT0000000073476541, TRONROUT00000000734...",502.0
ResidualVehicle100,17756,"[TRONROUT0000000073476542, TRONROUT00000000734...",698.0
ResidualVehicle1000,8846,"[TRONROUT0000000073476552, TRONROUT00000000734...",330.0
...,...,...,...
ResidualVehicle99995,15861,"[TRONROUT0000000073476547, TRONROUT00000000734...",649.0
ResidualVehicle99996,12784,"[TRONROUT0000000073476541, TRONROUT00000000734...",502.0
ResidualVehicle99997,12784,"[TRONROUT0000000073476541, TRONROUT00000000734...",502.0
ResidualVehicle99998,17784,"[TRONROUT0000000073476769, TRONROUT00000000734...",691.0
ResidualVehicle99999,19193,"[TRONROUT0000000073480361, TRONROUT00000000734...",738.0

In [12]:

switch_road_ = switch_road.groupby(["TopoID"],group_keys=True).agg({
                                        "distance": lambda x: list(np.unique(x))[0],\
                                        "duration": lambda x: np.mean(x),\
                                        "meanSpead":lambda x: np.mean(x),\
                                        "VehicleID" : lambda x:len(list(np.unique(x)))
})

switch_road_2 = switch_road_.rename(columns ={"VehicleID":"frequentation",'duration':'meanDuration'})
switch_road_2

                            distance  meanDuration   meanSpead  frequentation
TopoID
'TRONROUT0000000073476557'        44      2.000000   80.000000           5440
'TRONROUT0000000073476558'       218      8.000000   98.000000           5440
'TRONROUT0000000073476769'        43      2.860874   71.316751          11322
'TRONROUT0000000073476809'       175      7.000000   90.000000           5440
'TRONROUT0000000073476812'       495     15.000000  119.000000           5440
...                              ...           ...         ...            ...
'TRONROUT0000002244668070'        95      8.000000   43.000000           6828
'TRONROUT0000002330018419'       276     10.116375   98.192773           5645
'TRONROUT0000002330018420'        29      1.000000  103.000000          11347
'TRONROUT0000002330018621'       154     15.607619   68.571803          11301
'TRONROUT0000002330018622'       246      9.000000   99.000000           5440

[323 rows x 4 columns]

In [11]:
switch_road_['ID']

KeyError: 'TopoID'

In [14]:
switch_road_2.loc[["'TRONROUT0000000351086887'","'TRONROUT0000002223814462'","'TRONROUT0000000351087215'","'TRONROUT0000000073509800'","'TRONROUT0000000073516822'"]]

#989194
#TRONROUT0000000351086887	TRONROUT0000002223814462	TRONROUT0000000351087215	TRONROUT0000000073509800	TRONROUT0000000073516822

                            distance  meanDuration   meanSpead  frequentation
TopoID
'TRONROUT0000000351086887'       699     24.000000  105.000000          11269
'TRONROUT0000002223814462'       487     19.000000   92.000000          11276
'TRONROUT0000000351087215'       586     23.000000   92.000000          11289
'TRONROUT0000000073509800'       644     26.853985   90.367885          11286
'TRONROUT0000000073516822'       391     20.885759   84.166884          11291

In [50]:
aim_road.loc[aim_road['id']==989194]

       id Comptage Vitesse Retard    Débit RatioV/C   Temps Queue
4  989194   231,02   87,87  28,56  1384,13     0,22  181,63  3,12